################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AvaloniaUIRealWorld/.vs
/AvaloniaUIRealWorld/.idea
/AvaloniaUIRealWorld/AvaloniaUIRealWorld/bin
/AvaloniaUIRealWorld/AvaloniaUIRealWorld/obj
*.dll
*.dll
