################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.dll
/BatchProcess3/.vs
/BatchProcess3/.idea
/BatchProcess3/BatchProcess3/obj
/BatchProcess3/BatchProcess3/bin
/BatchProcess3/BatchProcess3.Browser/bin
/BatchProcess3/BatchProcess3.Browser/obj
/BatchProcess3/BatchProcess3.Desktop/obj
/BatchProcess3/BatchProcess3.Desktop/bin
